*{
    font-family: sans-serif;
}
.container{
    border: 1px solid black; 
     border-radius: 5px;
}

h1{
    margin: 0;
    text-align: center;
    line-height: 2;
    border-bottom: 1px solid black;
}

form{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    
}

form > div,button{
    margin-block: 1rem
}

.text-input{
    display: flex;
    justify-content: space-between;
    
}

label[for="bio"]{
    display: block;
}

#flash-message{
    color: green;
    width: 1rem;
    margin: 0 auto;
}

.error-message{
     color: red;
}

button[type = "submit"]{
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}


